# Pandas Tutorial

## Import Libraries

In [3]:
import pandas as pd
import numpy as np

In [4]:
## Object Creation
s = pd.Series([1,3,4,5,7,9,8])
s

0    1
1    3
2    4
3    5
4    7
5    9
6    8
dtype: int64

In [6]:
# Nan(Empty Cell)
s = pd.Series([1,3,np.nan ,4,5,7,9,8])
s

0    1.0
1    3.0
2    NaN
3    4.0
4    5.0
5    7.0
6    9.0
7    8.0
dtype: float64

In [9]:
# Dates DataFrame
dates = pd.date_range('20210101', periods=20)
dates

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14', '2021-01-15', '2021-01-16',
               '2021-01-17', '2021-01-18', '2021-01-19', '2021-01-20'],
              dtype='datetime64[ns]', freq='D')

In [11]:
# Dates into DataFrame
a= pd.DataFrame(np.random.randn(20,4), index=dates, columns=list("ABCD"))
a

                   A         B         C         D
2021-01-01  0.357359  0.254971 -0.446567  0.176005
2021-01-02 -0.722106  0.464353 -0.139227  0.709729
2021-01-03 -1.213759  1.608478  0.636017 -2.275743
2021-01-04 -0.010671  0.709887 -0.356466 -0.506661
2021-01-05  0.096868 -0.809558  0.624304  0.894178
2021-01-06  1.214338  0.631141 -1.017651 -1.125036
2021-01-07 -0.713834  0.572653  1.003464  0.714235
2021-01-08 -0.211121 -0.263204  0.716877  0.593019
2021-01-09  1.448444 -0.211887 -0.056778  0.835231
2021-01-10 -0.899953 -1.626209  0.896612  0.242943
2021-01-11 -0.394887  0.384406 -1.854549 -0.286333
2021-01-12 -0.446747  0.615036  0.222572  1.994052
2021-01-13 -0.658622  0.663905  1.155654  0.858211
2021-01-14  1.482271  0.636829  0.466492 -0.356800
2021-01-15  1.408694 -0.628746 -0.547926  0.502091
2021-01-16  1.240427  0.207392  0.550825  0.234745
2021-01-17  0.247607 -0.961373 -1.083657 -0.570148
2021-01-18  0.219518  0.418746 -0.774893  1.030426
2021-01-19 -0.382787  0.564906  0.671589  0.147816
2021-01-20  0.432088 -0.541112  0.705534 -0.648260

In [18]:
df2= pd.DataFrame({
    "A": 1.0,
    "B": pd.Timestamp("20210101"),
    "C": np.array([3]* 4, dtype="int32"),
    "D": pd.Series(1, index=list(range(4)),dtype="float32"),
    "E": pd.Categorical(["girl", "female", "lady", "woman"]),
    "F": "females",
}
)
df2

     A          B  C    D       E        F
0  1.0 2021-01-01  3  1.0    girl  females
1  1.0 2021-01-01  3  1.0  female  females
2  1.0 2021-01-01  3  1.0    lady  females
3  1.0 2021-01-01  3  1.0   woman  females

In [21]:
df2.dtypes

A           float64
B    datetime64[ns]
C             int32
D           float32
E          category
F            object
dtype: object

In [27]:
# Head (Top Rows of data)
df2.head(2)

     A          B  C    D       E        F
0  1.0 2021-01-01  3  1.0    girl  females
1  1.0 2021-01-01  3  1.0  female  females

In [26]:
# Tail (Last rows of data)
df2.tail(2)

     A          B  C    D      E        F
2  1.0 2021-01-01  3  1.0   lady  females
3  1.0 2021-01-01  3  1.0  woman  females

In [28]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [32]:
b=a.to_numpy
b

<bound method DataFrame.to_numpy of                    A         B         C         D
2021-01-01  0.357359  0.254971 -0.446567  0.176005
2021-01-02 -0.722106  0.464353 -0.139227  0.709729
2021-01-03 -1.213759  1.608478  0.636017 -2.275743
2021-01-04 -0.010671  0.709887 -0.356466 -0.506661
2021-01-05  0.096868 -0.809558  0.624304  0.894178
2021-01-06  1.214338  0.631141 -1.017651 -1.125036
2021-01-07 -0.713834  0.572653  1.003464  0.714235
2021-01-08 -0.211121 -0.263204  0.716877  0.593019
2021-01-09  1.448444 -0.211887 -0.056778  0.835231
2021-01-10 -0.899953 -1.626209  0.896612  0.242943
2021-01-11 -0.394887  0.384406 -1.854549 -0.286333
2021-01-12 -0.446747  0.615036  0.222572  1.994052
2021-01-13 -0.658622  0.663905  1.155654  0.858211
2021-01-14  1.482271  0.636829  0.466492 -0.356800
2021-01-15  1.408694 -0.628746 -0.547926  0.502091
2021-01-16  1.240427  0.207392  0.550825  0.234745
2021-01-17  0.247607 -0.961373 -1.083657 -0.570148
2021-01-18  0.219518  0.418746 -0.774893  1.030426
2021-01-19 -0.382787  0.564906  0.671589  0.147816
2021-01-20  0.432088 -0.541112  0.705534 -0.648260>

In [34]:
a.describe()

               A          B          C          D
count  20.000000  20.000000  20.000000  20.000000
mean    0.124656   0.134531   0.068611   0.158185
std     0.849456   0.749470   0.820104   0.923718
min    -1.213759  -1.626209  -1.854549  -2.275743
25%    -0.499716  -0.332681  -0.471907  -0.394265
50%     0.043099   0.401576   0.344532   0.238844
75%     0.627650   0.619062   0.680075   0.744484
max     1.482271   1.608478   1.155654   1.994052

In [35]:
a.T

,2021-01-01,2021-01-02,2021-01-03,2021-01-04,2021-01-05,2021-01-06,2021-01-07,2021-01-08,2021-01-09,2021-01-10,2021-01-11,2021-01-12,2021-01-13,2021-01-14,2021-01-15,2021-01-16,2021-01-17,2021-01-18,2021-01-19,2021-01-20
A,0.357359,-0.722106,-1.213759,-0.010671,0.096868,1.214338,-0.713834,-0.211121,1.448444,-0.899953,-0.394887,-0.446747,-0.658622,1.482271,1.408694,1.240427,0.247607,0.219518,-0.382787,0.432088
B,0.254971,0.464353,1.608478,0.709887,-0.809558,0.631141,0.572653,-0.263204,-0.211887,-1.626209,0.384406,0.615036,0.663905,0.636829,-0.628746,0.207392,-0.961373,0.418746,0.564906,-0.541112
C,-0.446567,-0.139227,0.636017,-0.356466,0.624304,-1.017651,1.003464,0.716877,-0.056778,0.896612,-1.854549,0.222572,1.155654,0.466492,-0.547926,0.550825,-1.083657,-0.774893,0.671589,0.705534
D,0.176005,0.709729,-2.275743,-0.506661,0.894178,-1.125036,0.714235,0.593019,0.835231,0.242943,-0.286333,1.994052,0.858211,-0.356800,0.502091,0.234745,-0.570148,1.030426,0.147816,-0.648260

In [37]:
# Sorting of data 
a.sort_index(axis=1, ascending=True)

                   A         B         C         D
2021-01-01  0.357359  0.254971 -0.446567  0.176005
2021-01-02 -0.722106  0.464353 -0.139227  0.709729
2021-01-03 -1.213759  1.608478  0.636017 -2.275743
2021-01-04 -0.010671  0.709887 -0.356466 -0.506661
2021-01-05  0.096868 -0.809558  0.624304  0.894178
2021-01-06  1.214338  0.631141 -1.017651 -1.125036
2021-01-07 -0.713834  0.572653  1.003464  0.714235
2021-01-08 -0.211121 -0.263204  0.716877  0.593019
2021-01-09  1.448444 -0.211887 -0.056778  0.835231
2021-01-10 -0.899953 -1.626209  0.896612  0.242943
2021-01-11 -0.394887  0.384406 -1.854549 -0.286333
2021-01-12 -0.446747  0.615036  0.222572  1.994052
2021-01-13 -0.658622  0.663905  1.155654  0.858211
2021-01-14  1.482271  0.636829  0.466492 -0.356800
2021-01-15  1.408694 -0.628746 -0.547926  0.502091
2021-01-16  1.240427  0.207392  0.550825  0.234745
2021-01-17  0.247607 -0.961373 -1.083657 -0.570148
2021-01-18  0.219518  0.418746 -0.774893  1.030426
2021-01-19 -0.382787  0.564906  0.671589  0.147816
2021-01-20  0.432088 -0.541112  0.705534 -0.648260

In [38]:
a.sort_values(by="B", ascending=True)

                   A         B         C         D
2021-01-10 -0.899953 -1.626209  0.896612  0.242943
2021-01-17  0.247607 -0.961373 -1.083657 -0.570148
2021-01-05  0.096868 -0.809558  0.624304  0.894178
2021-01-15  1.408694 -0.628746 -0.547926  0.502091
2021-01-20  0.432088 -0.541112  0.705534 -0.648260
2021-01-08 -0.211121 -0.263204  0.716877  0.593019
2021-01-09  1.448444 -0.211887 -0.056778  0.835231
2021-01-16  1.240427  0.207392  0.550825  0.234745
2021-01-01  0.357359  0.254971 -0.446567  0.176005
2021-01-11 -0.394887  0.384406 -1.854549 -0.286333
2021-01-18  0.219518  0.418746 -0.774893  1.030426
2021-01-02 -0.722106  0.464353 -0.139227  0.709729
2021-01-19 -0.382787  0.564906  0.671589  0.147816
2021-01-07 -0.713834  0.572653  1.003464  0.714235
2021-01-12 -0.446747  0.615036  0.222572  1.994052
2021-01-06  1.214338  0.631141 -1.017651 -1.125036
2021-01-14  1.482271  0.636829  0.466492 -0.356800
2021-01-13 -0.658622  0.663905  1.155654  0.858211
2021-01-04 -0.010671  0.709887 -0.356466 -0.506661
2021-01-03 -1.213759  1.608478  0.636017 -2.275743

In [41]:
a["A"],["B"]

(2021-01-01    0.357359
 2021-01-02   -0.722106
 2021-01-03   -1.213759
 2021-01-04   -0.010671
 2021-01-05    0.096868
 2021-01-06    1.214338
 2021-01-07   -0.713834
 2021-01-08   -0.211121
 2021-01-09    1.448444
 2021-01-10   -0.899953
 2021-01-11   -0.394887
 2021-01-12   -0.446747
 2021-01-13   -0.658622
 2021-01-14    1.482271
 2021-01-15    1.408694
 2021-01-16    1.240427
 2021-01-17    0.247607
 2021-01-18    0.219518
 2021-01-19   -0.382787
 2021-01-20    0.432088
 Freq: D, Name: A, dtype: float64,
 ['B'])

In [43]:
# Row-wise Selection
a[0:3]

                   A         B         C         D
2021-01-01  0.357359  0.254971 -0.446567  0.176005
2021-01-02 -0.722106  0.464353 -0.139227  0.709729
2021-01-03 -1.213759  1.608478  0.636017 -2.275743

In [45]:
# Index framing (on the basis of label)
a.loc[dates[2]]

A   -1.213759
B    1.608478
C    0.636017
D   -2.275743
Name: 2021-01-03 00:00:00, dtype: float64

In [46]:
# Use axis level
a.loc[:, ["A", "B"]]

                   A         B
2021-01-01  0.357359  0.254971
2021-01-02 -0.722106  0.464353
2021-01-03 -1.213759  1.608478
2021-01-04 -0.010671  0.709887
2021-01-05  0.096868 -0.809558
2021-01-06  1.214338  0.631141
2021-01-07 -0.713834  0.572653
2021-01-08 -0.211121 -0.263204
2021-01-09  1.448444 -0.211887
2021-01-10 -0.899953 -1.626209
2021-01-11 -0.394887  0.384406
2021-01-12 -0.446747  0.615036
2021-01-13 -0.658622  0.663905
2021-01-14  1.482271  0.636829
2021-01-15  1.408694 -0.628746
2021-01-16  1.240427  0.207392
2021-01-17  0.247607 -0.961373
2021-01-18  0.219518  0.418746
2021-01-19 -0.382787  0.564906
2021-01-20  0.432088 -0.541112

In [47]:
a.loc["20210102":"20210106", {"A","B","C"}]

                   B         C         A
2021-01-02  0.464353 -0.139227 -0.722106
2021-01-03  1.608478  0.636017 -1.213759
2021-01-04  0.709887 -0.356466 -0.010671
2021-01-05 -0.809558  0.624304  0.096868
2021-01-06  0.631141 -1.017651  1.214338

In [48]:
a.at[dates[12], "A"]

-0.6586222832282476

In [51]:
a.iloc[5:10, 0:3]

                   A         B         C
2021-01-06  1.214338  0.631141 -1.017651
2021-01-07 -0.713834  0.572653  1.003464
2021-01-08 -0.211121 -0.263204  0.716877
2021-01-09  1.448444 -0.211887 -0.056778
2021-01-10 -0.899953 -1.626209  0.896612

In [52]:
a.iloc[:, 0:2]

                   A         B
2021-01-01  0.357359  0.254971
2021-01-02 -0.722106  0.464353
2021-01-03 -1.213759  1.608478
2021-01-04 -0.010671  0.709887
2021-01-05  0.096868 -0.809558
2021-01-06  1.214338  0.631141
2021-01-07 -0.713834  0.572653
2021-01-08 -0.211121 -0.263204
2021-01-09  1.448444 -0.211887
2021-01-10 -0.899953 -1.626209
2021-01-11 -0.394887  0.384406
2021-01-12 -0.446747  0.615036
2021-01-13 -0.658622  0.663905
2021-01-14  1.482271  0.636829
2021-01-15  1.408694 -0.628746
2021-01-16  1.240427  0.207392
2021-01-17  0.247607 -0.961373
2021-01-18  0.219518  0.418746
2021-01-19 -0.382787  0.564906
2021-01-20  0.432088 -0.541112

In [76]:
# Boolean Indexing
a[a['A']> 1.3]

                   A         B         C         D
2021-01-09  1.448444 -0.211887 -0.056778  0.835231
2021-01-14  1.482271  0.636829  0.466492 -0.356800
2021-01-15  1.408694 -0.628746 -0.547926  0.502091

In [55]:
a[a>0]

                   A         B         C         D
2021-01-01  0.357359  0.254971       NaN  0.176005
2021-01-02       NaN  0.464353       NaN  0.709729
2021-01-03       NaN  1.608478  0.636017       NaN
2021-01-04       NaN  0.709887       NaN       NaN
2021-01-05  0.096868       NaN  0.624304  0.894178
2021-01-06  1.214338  0.631141       NaN       NaN
2021-01-07       NaN  0.572653  1.003464  0.714235
2021-01-08       NaN       NaN  0.716877  0.593019
2021-01-09  1.448444       NaN       NaN  0.835231
2021-01-10       NaN       NaN  0.896612  0.242943
2021-01-11       NaN  0.384406       NaN       NaN
2021-01-12       NaN  0.615036  0.222572  1.994052
2021-01-13       NaN  0.663905  1.155654  0.858211
2021-01-14  1.482271  0.636829  0.466492       NaN
2021-01-15  1.408694       NaN       NaN  0.502091
2021-01-16  1.240427  0.207392  0.550825  0.234745
2021-01-17  0.247607       NaN       NaN       NaN
2021-01-18  0.219518  0.418746       NaN  1.030426
2021-01-19       NaN  0.564906  0.671589  0.147816
2021-01-20  0.432088       NaN  0.705534       NaN

In [77]:
# is In method for filtering
df2= a.copy()
df2

                   A         B         C         D
2021-01-01  0.357359  0.254971 -0.446567  0.176005
2021-01-02 -0.722106  0.464353 -0.139227  0.709729
2021-01-03 -1.213759  1.608478  0.636017 -2.275743
2021-01-04 -0.010671  0.709887 -0.356466 -0.506661
2021-01-05  0.096868 -0.809558  0.624304  0.894178
2021-01-06  1.214338  0.631141 -1.017651 -1.125036
2021-01-07 -0.713834  0.572653  1.003464  0.714235
2021-01-08 -0.211121 -0.263204  0.716877  0.593019
2021-01-09  1.448444 -0.211887 -0.056778  0.835231
2021-01-10 -0.899953 -1.626209  0.896612  0.242943
2021-01-11 -0.394887  0.384406 -1.854549 -0.286333
2021-01-12 -0.446747  0.615036  0.222572  1.994052
2021-01-13 -0.658622  0.663905  1.155654  0.858211
2021-01-14  1.482271  0.636829  0.466492 -0.356800
2021-01-15  1.408694 -0.628746 -0.547926  0.502091
2021-01-16  1.240427  0.207392  0.550825  0.234745
2021-01-17  0.247607 -0.961373 -1.083657 -0.570148
2021-01-18  0.219518  0.418746 -0.774893  1.030426
2021-01-19 -0.382787  0.564906  0.671589  0.147816
2021-01-20  0.432088 -0.541112  0.705534 -0.648260

In [59]:
# Addition of new column
df2= a.copy()
df2["E"]= ['1','2', '3', '4', '5','6', '7', '1','2', '3', '4', '5','6', '7','1','2', '3', '4', '5','6']
df2

                   A         B         C         D  E
2021-01-01  0.357359  0.254971 -0.446567  0.176005  1
2021-01-02 -0.722106  0.464353 -0.139227  0.709729  2
2021-01-03 -1.213759  1.608478  0.636017 -2.275743  3
2021-01-04 -0.010671  0.709887 -0.356466 -0.506661  4
2021-01-05  0.096868 -0.809558  0.624304  0.894178  5
2021-01-06  1.214338  0.631141 -1.017651 -1.125036  6
2021-01-07 -0.713834  0.572653  1.003464  0.714235  7
2021-01-08 -0.211121 -0.263204  0.716877  0.593019  1
2021-01-09  1.448444 -0.211887 -0.056778  0.835231  2
2021-01-10 -0.899953 -1.626209  0.896612  0.242943  3
2021-01-11 -0.394887  0.384406 -1.854549 -0.286333  4
2021-01-12 -0.446747  0.615036  0.222572  1.994052  5
2021-01-13 -0.658622  0.663905  1.155654  0.858211  6
2021-01-14  1.482271  0.636829  0.466492 -0.356800  7
2021-01-15  1.408694 -0.628746 -0.547926  0.502091  1
2021-01-16  1.240427  0.207392  0.550825  0.234745  2
2021-01-17  0.247607 -0.961373 -1.083657 -0.570148  3
2021-01-18  0.219518  0.418746 -0.774893  1.030426  4
2021-01-19 -0.382787  0.564906  0.671589  0.147816  5
2021-01-20  0.432088 -0.541112  0.705534 -0.648260  6

In [86]:
# Assignment
a.mean(1)
a
a['B'].mean()

0.13453071918266382

In [75]:
# Selection by Position
df2.iloc[4]

A    0.096868
B   -0.809558
C    0.624304
D    0.894178
E           5
Name: 2021-01-05 00:00:00, dtype: object